# ========== .NET ==========
## Build results
bin/
obj/
[Bb]uild/
[Ll]ogs/
*.log
## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.vsp
*.vspx
*.vspscc
## Rider / VS Code / Visual Studio
.idea/
.vscode/
.vs/
## NuGet packages
*.nupkg
packages/
*.snupkg
project.lock.json
project.assets.json
## Dotnet tools
.tools/

# ========== Java ==========
*.class
target/
.gradle/
build/
.project
.classpath
.settings/
.loadpath
*.iml
*.ipr
*.iws
out/

# ========== Python ==========
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
.venv/
.env*
!.env.example
*.spec
dist/
.ipynb_checkpoints/
*.pot
*.sqlite3

# ========== Node / Frontend ==========
node_modules/
.npm
.eslintcache
.stylelintcache
.parcel-cache
.next
.nuxt
.svelte-kit/
coverage/
.nyc_output/
*.tsbuildinfo
*.tgz
.yarn-integrity
jspm_packages/
web_modules/
.cache/
.temp/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ========== General ==========
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.old
*.pid
*.pid.lock
*.seed
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.node_repl_history
.vscode-test
